.chat-view__group-details
  %h2 Sample
  = link_to 'Edit', class: "edit-button"
  %p Members: naya
.chat-view__history
  .chat-box
    %h3 naayasaito
    %p 2017/03/07 19:53:07
    %h4 hello
  .chat-box
    %h3 naayasaito
    %p 2017/03/08 19:53:07
    %h4 good morning
  .chat-box
    %h3 naayasaito
    %p 2017/03/09 19:53:07
    %h4 good evening
  .chat-box
    %h3 naayasaito
    %p 2017/03/01 19:53:07
    %h4 bye
  .chat-box
    %h3 naayasaitos
    %p 2017/03/02 19:53:07
    %h4 good night
    .chat-box
    %h3 naayasaito
    %p 2017/03/01 19:53:07
    %h4 bye
  .chat-box
    %h3 naayasaitos
    %p 2017/03/02 19:53:07
    %h4 good night
.chat-view__form
  %input(type = 'text' name = 'message' placeholder = 'type a message')
  = button_tag 'Send', class: "send-button"
  %i.fa.fa-picture-o