.chat-group-form
  %h1 チャットグループ編集
  %input{:name => "utf8", :type => "hidden", :value => "✓"}/
  %input{:name => "_method", :type => "hidden", :value => "patch"}/
  %input{:name => "authenticity_token", :type => "hidden", :value => "U5ABp0/UobRQTSwsR0V40bX1w3t0rZ0CTqrVyLecD+L6sdhBRO/gVcKy7w/Rgxnc7Hf0Ts39996dal3to5fTag=="}/
  =form_for(@group)do|f|
    .chat-group-form__field
      .chat-group-form__field--left
        =f.label :グループ名, for: "chat_group_name", class: "chat-group-form__label"
      .chat-group-form__field--right
        =f.text_field :name, name: "chat_group[name]", placeholder: "グループ名を入力してください", type: "text", value: @group.name, id: "chat_group_name", class: "chat-group-form__input"
    .chat-group-form__field
      .chat-group-form__field--left
        =f.label :チャットメンバーを追加, for: "chat_group_チャットメンバーを追加", class: "chat-group-form__label"
      .chat-group-form__field--right
        .chat-group-form__search
          %input{placeholder: "追加したいユーザー名を入力してください", type: "text", id: "chat_group_member", class: "chat-group-form__input"}
        #user-search-result
        #user-search-result
    .chat-group-form__field
      .chat-group-form__field--left
        =f.label :チャットメンバー, for: "chat_group_チャットメンバー", class: "chat-group-form__label"
      .chat-group-form__field--right
        #chat-group-users
        -@group.users.each do|user|
          #chat-group-user-22.chat-group-user
            %p.chat-group-user__name
              =user.name
              %p.chat-group-user__btn.chat-group-user__btn--remove{data:{user:{id: "#{user.id}"}}}
                削除
        =f.hidden_field :user_ids, id: 'hiddenID', value: @group.users.ids , data:{ids: @group.users.ids}
    .chat-group-form__field
      .chat-group-form__field--left
      .chat-group-form__field--right
        =f.submit class: "chat-group-form__action-btn", data:{ disable: { with: "Save"} }, name: "commit", value: "Save"