@import "./reset";
@import "font-awesome";
@import "top";
@import "./clearfix";

html, body{
  height:100%;
  width:100%;
  overflow: hidden;
}

header{
  background-color: #38AEF0;
  color: #FFFFFF;
  text-align: center;
}


.menu{
  float:left;
  width:300px;
  height:100%;
  background-color: #2f3e51;
  color: #FFFFFF;
  overflow:hidden;
  z-index: 2;
  @include clearfix();
  a:visited {
   color: #FFFFFF;
 }
  &__user-name{
    background-color: #253141;
    padding:35px 20px;
    vertical-align: middle;
    @include clearfix();
    h3{
      font-size:16px;
      font-weight: bold;
      float:left;
    }
    a{
      float:right;
      color: #FFFFFF;
    }
  }
  &__chat-groups{
    padding:20px 20px;
    h2{
      font-size:15px;
      padding-bottom: 5px
    }
    p{
      font-size:11px;
    }
  }
}
.chat-view{
  margin-left: 300px;
  overflow:hidden;
  /*height: 100%;*/
}