!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
    .menu
      .menu__user-name
        %h3 naaya
        %i(class="fa fa-pencil-square-o" aria-hidden="true")
      .menu__chat-groups
        %h2 sample
        %p sample
    .chat-view
      = yield
